<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <div class="row">
          <mat-tab-group>
            <mat-tab label="All"> Lorem Ipsum Content 1 </mat-tab>
            <mat-tab label="Mobile Apps"> Lorem Ipsum Content 2 </mat-tab>
            <mat-tab label="Web Applications">Lorem Ipsum Content 3 </mat-tab>
            <mat-tab label="Websites">Lorem Ipsum Content 4 </mat-tab>
            <mat-tab label="Flyers">Lorem Ipsum Content 5 </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
